html
    body
    h1=title
    #wrapper
        form(action="/addCat", method="post")
            div.input
                label Name
                input(type="text", name="name")
            div.input
                label NickName
                input(type="text", name="nickname")
            div.input
                label Owner
                input(type="text", name="owner")                
            div.input
                label Age
                input(type="text", name="age")    
            div.input
                label Information
                textarea(name="information")