html
    body
    h1=title
    #wrapper
        form(action="/addCat", method="post")
           table
                tr
                    td
                        span.label Name
                    td
                        input(type="text", name="name")
                tr
                    td
                        label NickName
                    td
                        input(type="text", name="nickname")
                tr
                    td
                        label Owner
                    td
                        input(type="text", name="owner")                
                tr
                    td
                        label Age
                    td
                        input(type="text", name="age")    
                tr
                    td
                        label Information
                    td
                        textarea(name="information" heigth="200px")
                tr
                    td
                        label URL image
                    td
                        input(type="text", name="imgUrls")         
                tr
                    td
                        button(type="submit" value="Submit") Submit
