html
    body
        h1= title
        #wrapper
            table.special
                    tr
                        th Name
                        th NickName
                        th Details
                    for result in catObj   
                        tr
                            td result.name
                            td result.nickname
                            td 
                               a(href='details') Details
        a(href='/cat/addCat') Add Cats


