html
    body
        h1= title
        #wrapper
            table.special
                    tr
                        th Name
                        th NickName
                        th Details
                    each i in new Array(5)    
                        tr
                            td name
                            td awsomename
                            td 
                               a(href='details') Details
        a(href='/cat/addCat') Add Cats


